<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recipes">
        <activity android:name=".ChooseKind"></activity>
        <activity android:name=".Lemonade" />
        <activity android:name=".PieWthStrawberry" />
        <activity android:name=".Zefir" />
        <activity android:name=".Ledenci" />
        <activity android:name=".Chicken" />
        <activity android:name=".Shaurma" />
        <activity android:name=".Draniki" />
        <activity android:name=".Boilion" />
        <activity android:name=".SoupWthFrikadelki" />
        <activity android:name=".Plov" />
        <activity android:name=".Kutya" />
        <activity android:name=".SousForCesar" />
        <activity android:name=".Pelmeni" />
        <activity android:name=".Borshch" />
        <activity android:name=".SaladCesar" />
        <activity android:name=".Yaichnicha">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PreviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>